.sideBar{
    height: calc(100vh - 50px);
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
 background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(179,179,179);
}
.share{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.postwraper{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}